simpletest/java/TESTAPP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://testapp.app.simplegrid.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://testapp.app.simplegrid.org">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://testapp.app.simplegrid.org">
            <xs:element name="submit">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="args1" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="submitResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStatus">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStatusResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getResult">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="args1" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="args2" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getResultResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="submitRequest">
        <wsdl:part name="parameters" element="ns:submit"/>
    </wsdl:message>
    <wsdl:message name="submitResponse">
        <wsdl:part name="parameters" element="ns:submitResponse"/>
    </wsdl:message>
    <wsdl:message name="getStatusRequest">
        <wsdl:part name="parameters" element="ns:getStatus"/>
    </wsdl:message>
    <wsdl:message name="getStatusResponse">
        <wsdl:part name="parameters" element="ns:getStatusResponse"/>
    </wsdl:message>
    <wsdl:message name="getResultRequest">
        <wsdl:part name="parameters" element="ns:getResult"/>
    </wsdl:message>
    <wsdl:message name="getResultResponse">
        <wsdl:part name="parameters" element="ns:getResultResponse"/>
    </wsdl:message>
    <wsdl:portType name="TESTAPPPortType">
        <wsdl:operation name="submit">
            <wsdl:input message="ns:submitRequest" wsaw:Action="urn:submit"/>
            <wsdl:output message="ns:submitResponse" wsaw:Action="urn:submitResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getStatus">
            <wsdl:input message="ns:getStatusRequest" wsaw:Action="urn:getStatus"/>
            <wsdl:output message="ns:getStatusResponse" wsaw:Action="urn:getStatusResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getResult">
            <wsdl:input message="ns:getResultRequest" wsaw:Action="urn:getResult"/>
            <wsdl:output message="ns:getResultResponse" wsaw:Action="urn:getResultResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TESTAPPSoap11Binding" type="ns:TESTAPPPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="submit">
            <soap:operation soapAction="urn:submit" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStatus">
            <soap:operation soapAction="urn:getStatus" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getResult">
            <soap:operation soapAction="urn:getResult" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TESTAPPSoap12Binding" type="ns:TESTAPPPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="submit">
            <soap12:operation soapAction="urn:submit" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStatus">
            <soap12:operation soapAction="urn:getStatus" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getResult">
            <soap12:operation soapAction="urn:getResult" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TESTAPPHttpBinding" type="ns:TESTAPPPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="submit">
            <http:operation location="TESTAPP/submit"/>
            <wsdl:input>
                <mime:content type="text/xml" part="submit"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="submit"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStatus">
            <http:operation location="TESTAPP/getStatus"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getStatus"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getStatus"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getResult">
            <http:operation location="TESTAPP/getResult"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getResult"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getResult"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TESTAPP">
        <wsdl:port name="TESTAPPHttpSoap11Endpoint" binding="ns:TESTAPPSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/TESTAPP"/>
        </wsdl:port>
        <wsdl:port name="TESTAPPHttpSoap12Endpoint" binding="ns:TESTAPPSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/TESTAPP"/>
        </wsdl:port>
        <wsdl:port name="TESTAPPHttpEndpoint" binding="ns:TESTAPPHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/TESTAPP"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
